@import "./variables.scss";


*, 
*::before, 
*::after{
    margin:0;
    box-sizing: border-box;
}

body{
     
    font-family: $lato-font;
    color:$text;
    height: 200vh;

}


main {
  
    height: calc(100vh - #{$header-height});
    display: flex;
    justify-content: center;
    align-items: center;

    .intro {
        font-size: 38px;
        text-align: center;
        font-weight: 700;
        color: $text2;
        padding: $spacing-md $spacing-lg;
        background: $bg2;
        border-radius: $spacing-sm;
        box-shadow: 0 0 10px $primary;
        margin: 0 $spacing-md;

        margin-top: -$header-height;

        &__focus {
            color: $primary;
        }

        @include breakpoint(md) {
            font-size: 42px;
        }
    }
}

button {
   
    font-family: inherit;
    outline: none;
    border: none;
    background: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
}

$primary-color: grey;
$white-color: white;

.container {

  max-width: 100vw;
 
  
 
}

.heading {
   
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
 
  height: 31rem;
 
  position: relative;

  @media (max-width: 500px) {
    height: 27rem;
  }
}

.swiper-slide {
  width: 37rem;
  height: 32rem;
  position: relative;

  
  @media (max-width: 500px) {
    width: 28rem !important;
    height: 32rem !important;

    img {
     
      width: 28rem !important;
      height: 32rem !important;
    }
  }
  .slideContent {
    position: relative;
    
  }
  
  .bottomText {
   
    position: absolute;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    bottom: .5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(30, 30, 30, 0.375); 
    color: white; 
    text-align: center;
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box;
  }
  
}



.swiper-slide img {
  width: 37rem;
  height: 27rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display:none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-button-next {
    left: 57% !important;
    transform: translateX(-58%) !important;

    @media (max-width: 990px) {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }

    @media (max-width: 450px) {
      left: 70% !important;
      transform: translateX(-80%) !important;
    }
  }

  .swiper-button-prev {
    left: 42% !important;
    transform: translateX(-30%) !important;

    @media (max-width: 990px) {
      left: 30% !important;
      transform: translateX(-20%) !important;
    }
  }

  .slider-arrow {
    background: $white-color;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    color: grey;
   

    &::after {
      content: '';
    }
  }
}

.swiper-pagination {
  position: relative;
  width: 10rem !important;
  bottom: 1rem;
  

  .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(5, 7, 11, 0.1));
  }

  .swiper-pagination-bullet-active {
    background: $primary;
    width: 20px;
    border-radius: 5px;
  }
}
